<a href="https://colab.research.google.com/github/vijipandian/project/blob/main/mathematics_40_to_80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Given a number N, print its factors.
#Input Size : n<=1000
#Sample Testcase :
#INPUT
#6
#OUTPUT
#1 2 3 6
n=int(input())
factors=[]
for i in range(1,n+1):
  if n%i==0:
    factors.append(i)
print(" ".join(map(str,factors)))

6
1 2 3 6

In [ ]:
#Kabali is a brave warrior who with his group of young ninjas moves from one place to another to fight against his opponents. Before Fighting he just calculates one thing, the difference between his ninja number and the opponent's ninja number. From this difference he decides whether to fight or not. Kabali's ninja number is never greater than his opponent.
#Input
#The input contains two numbers in every line. These two numbers in each line denotes the number ninjas in Kabali's clan and his opponent's clan . print the absolute difference of number of ninjas between Kabali's clan and his opponent's clan. Each output should be in seperate line.
#Sample Testcase :
#INPUT
#100 200
#OUTPUT
#100
n,m=map(int,input().split())
if n>m:
  diff=n-m
else:
    diff=m-n
print(diff)

100 200
100

In [ ]:
#Given base(B) and height(H) of a triangle find its area.
#Input Size : N <= 1000000
#Sample Testcase :
#INPUT
#2 4
#OUTPUT
#4
b,h=map(float,input().split())
area=b*h
x=(area/2)
print(x)

2 4
4.0

In [ ]:
#You are given a ‘true’ string. String is called true if weight of string is multiple of 8. Your task is to tell whether a string can be declared True or Not. Weight of string is the sum of ASCII value of Vowel character(s) present in the string.
#Input Description:
#You are given as string ‘s’ in lower cases
#Output Description:
#Print 1 for true and 0 for false
#Sample Input :
#raja
#Sample Output :
#0
s=input()
vowels='a','e','i','o','u'
weight=0
for i in s:
  if i in vowels:
    weight+=ord(i)
if weight%8==0:
  print("1")
else:
  print("0")

raja
0

In [1]:
#Given a number N, check whether it is prime or not. Print 'yes' if it is prime else print 'no'.
#Sample Testcase :
#INPUT
#123
#OUTPUT
#no
n=int(input())
if n>1:
  for i in range(2,n):
    if (n%i==0):
       print("no")
       break
  else:
     print("yes")
else:
  print("no")

123
no

In [2]:
#Given a number N, print the sum of squares of all its digits.
#Input Size : 1 <= N <= 100000
#Sample Testcase :
#INPUT
#12
#OUTPUT
#5

n=int(input())
sum=0
while n!=0:
  re=n%10
  sq=re*re
  sum=sum+sq
  n=int(n//10)
print(sum)

12
5

In [3]:
#Given a floating point number with 1 decimal place round it off to nearest greater integer and print it.
#Sample Testcase :
#INPUT
#2.6
#OUTPUT
#3
import math
n=float(input())
re=math.ceil(n)
print(round(re))

2.6
3

In [4]:
#In a garage the service man takes 10 minutes to service one car.If there are N cars in garage and X is number of minutes after which one person arrives,Calculate how much time last person has to wait in garage.(Print answer in minutes)
#Input Description:
#You are given Two numbers ‘N’ and ‘X’
#Output Description:
#Waiting time of last person
#Sample Input :
#4 5
#Sample Output :
#15
x,y=map(int,input().split())
print((x-1)*10-(x-1)*y)

4 5
15

In [5]:
#Given 3 numbers A,B,C find the sum of Arithmetic Series with a=A, d=B and n=C
#Sample Testcase :
#INPUT
#1 1 2
#OUTPUT
#3
a,b,c=list(map(int,input().split()))
x=(c-1)*b
y=2*a+x
z=(c/2)*y
print(round(z))

1 1 2
3

In [6]:
#Given numbers A,B find A^B.
#Input Size : 1 <= A <= 5 <= B <= 50
#Sample Testcase :
#INPUT
#3 4
#OUTPUT
#81
a,b=map(int,input().split())
c=a**b
print(c)

3 4
81

In [7]:
#Given a number N and an array of N integers, find the sum of all the negative numbers in the array.
#Input Size : N <= 100000
#Sample Testcase :
#INPUT
#2
#3 0
#OUTPUT
#0
n=int(input())
arr=list(map(int,input().split()))
sum=0
for num in arr:
    if num<0:
      sum+=num
print(sum)

2
3 0
0

In [8]:
#Given 2 numbers N and M add both the numbers and check whether the sum is odd or even.
#Sample Testcase :
#INPUT
#9 2
#OUTPUT
#odd
n,m=map(int,input().split())
tot=n+m
if tot%2==0:
  print("even")
else:
  print("odd")

9 2
odd

In [9]:
#You are given a series 3, 20, 63, 144, 275… . Go through the series in order to find the answer.You are given with a number ‘n’. Find the nth number of series.
#Input Description:
#You are given a number ‘n’
#Output Description:
#Print the nth number of series.
#Sample Input :
#4
#Sample Output :
#144
n=int(input())
nth_term=2*(n*n*n)+n*n
print(nth_term)

4
144

In [10]:
#you are given with ‘arasu’ series(shown in example).You have to understand it and you will be given a number ‘n’ ,you have to print the series till n numbers.
#Input Description:
#You are given a number n;
#Output Description:
#Print series till nth number
#Sample Input :
#4
#Sample Output :
#2 5 10 17
n=int(input())
x=[2]
y=3
for i in range(1,n):
  a=x[i-1]+y
  x.append(a)
  y+=2
print(*x)

4
2 5 10 17

In [11]:
#Given 3 points check whether they lie on the same line.If they lie on the same line print 'yes' Otherwise print 'no'.
#Sample Testcase :
#INPUT
#0 1
#0 0
#0 2
#OUTPUT
#yes
x1,y1=list(map(int,input().split()))
x2,y2=list(map(int,input().split()))
x3,y3=list(map(int,input().split()))
a=x1*(y2-y3)+x2*(y3-y1)+x3*(y1-y2)
if (a==0):
  print("yes")
else:
  print("no")

0 1
0 0
0 2
yes

In [12]:
#Prateek finds it difficult to judge the minimum element in the list of elements given to him. Your task is to develop the algorithm in order to find the minimum element.
#Input Description:
#You are given ‘n’ number of elements. Next line contains n space separated numbers.
#Output Description:
#Print the minimum element
#Sample Input :
#5
#3 4 9 1 6
#Sample Output :
#1
a=int(input())
b=list(map(int,input().split()))
print(min(b))

5
3 4 9 1 6
1

In [13]:
#Given a string S.Validate if a given string is numeric.print 'yes' if it is a numeric otherwise print 'no'.
#Sample Testcase :
#INPUT
#guvigeeks
#OUTPUT
#no
s=input()
for char in s:
  if char.isnumeric():
    print("yes")
    break
else:
  print("no")

guvigeeks
no

In [14]:
#Given number N, find the minimum factor which yeilds odd number as the quotient.
#Input Size : N <= 100000
#Sample Testcase :
#INPUT
#9
#OUTPUT
#1
n=int(input())
m=[]
for i in range(1,n+1):
  if n%i==0 and (n/i)%2!=0:
    m.append(i)
print(m[0])

9
1

In [15]:
#Given 2 numbers N,K print the value of nPk(P-Permutation).
#Input Size : K <= N <= 10
#Sample Testcase :
#INPUT
#5 2
#OUTPUT
#20

n,k=list(map(int,input().split()))
f=1
for i in range(k):
  f*=(n-i)
print(f)

5 2
20

In [16]:
#Given length L and breadth B of a farm, print the area of the farm upto 5 decimal decimals.
#Sample Testcase :
#INPUT
#1.626 2.31
#OUTPUT
#3.75606
l,b=map(float,input().split())
value=l*b
value_string = f"{value:.10f}"
integer, decimal = value_string.split(".")
truncated_decimal_part = decimal[:5]
print(f"{integer}.{truncated_decimal_part}")

1.626 2.31
3.75606

In [17]:
#Given a number N and a number K, find the greatest number which divides both.
#Input Size : N and K <= 100000
#Sample Testcase :
#INPUT
#5 10
#OUTPUT
#5
n,k=list(map(int,input().split()))
z=k%n
if (z==0):
  print(n)
else:
  print(k)

5 10
5

In [18]:
#Given a number N in binary format convert it to decimal number.
#Input Size : N <= 100000
#Sample Testcase :
#INPUT
#101
#OUTPUT
#5
binary=input()
decimal=int(binary,2)
print(decimal)

101
5

In [20]:
#Given 2 numbers N and K.check if N is a power of K.Print 'yes' if it is a power of k otherwise print 'no'.
#Sample Testcase :
#INPUT
#64 8
#OUTPUT
#yes
n,k=map(int,input().split())
sqrt=n**0.5
if sqrt==k:
  print("yes")
else:
  print("no")

64 8
yes

In [21]:
#Given an array of N elements switch(swap) the element with the adjacent element and print the output.
#Sample Testcase :
#INPUT
#5
#3 2 1 2 3
#OUTPUT
#2 3 2 1 3
n=int(input())
a=list(map(int,input().split()))
for i in range(0,n-1,2):
  a[i],a[i+1]=a[i+1],a[i]
print(*a)

5
3 2 1 2 3
2 3 2 1 3

In [22]:
#Given a number N in decimal convert it into binary value.
#Input Size : N <= 100000
#Sample Testcase :
#INPUT
#5
#OUTPUT
#101
n=int(input())
bin=[0]*n
i=0;
while(n>0):
  bin[i]=n%2
  n=int(n/2)
  i+=1
for j in range(i-1,-1,-1):
  print(bin[j],end="")

5
101

In [23]:
#Given 2 numbers N,K print the value of nCk(C-Combination).
#Input Size : K <= N <= 10
#Sample Testcase :
#INPUT
#5 2
#OUTPUT
#10
n,k=list(map(int,input().split()))
x=n*k
print(x)

5 2
10

In [24]:
#Given 3 numbers A,B,C process and print 'yes' if they can form the sides of a triangle otherwise print 'no'.
#Input Size : A,B,C <= 100000
#Sample Testcase :
#INPUT
#3 4 5
#OUTPUT
#yes
a,b,c=list(map(int,input().split()))
s=(a+b+c)/2
if s*(s-a)*(s-b)*(s-c)**0.5:
    print("yes")
else:
    print("no")

3 4 5
yes