<a href="https://colab.research.google.com/github/vijipandian/project/blob/main/mathematics_80_to_120.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Given a number N, find the factorial of N.
#Input Size : 1 <= N <= 25
#Sample Testcase :
#INPUT
#5
#OUTPUT
#120

n=int(input())
fac=1
for i in range(2,n+1):
  fac*=i
print(fac)

5
120

In [ ]:
#Given 2 numbers a and B.Print the value of a!/b!.
#Input Size : A,B <= 10000 and A-B <= 5
#Sample Testcase :
#INPUT
#4 2
#OUTPUT
#12
a,b=list(map(int,input().split()))
fac1=1
fac2=1
for i in range(2,a+1):
   fac1*=i
for j in range(2,b+1):
    fac2*=j
x=fac1//fac2
print(x)

4 2
12

In [ ]:
#Given a hexadecimal number convert it into decimal.
#Sample Testcase :
#INPUT
#293
#OUTPUT
#659
hex=input()
dec=int(hex,16)
print(dec)

293
659

In [ ]:
#Given a number N,check whether it has repeating digits in it.print 'yes' if it has repeating digits otherwise print 'no'.
#Sample Testcase :
#INPUT
#11234
#OUTPUT
#yes

n=int(input())
rep=[]
m=str(n)
for i in m:
  if m.count(i)>1 and i not in rep:
      print("yes")
      break
else:
    print("no")

11234
yes

In [ ]:
#Given a number N, check whether it is a power of 2.
#Sample Testcase :
#INPUT
#2048
#OUTPUT
#yes
n=int(input())
if n>0 and (n&(n-1))==0:
  print("yes")
else:
  print("no")

2048
yes

In [ ]:
#Print the position of first 1 from right to left, in binary representation of an Integer.
#Sample Testcase :
#INPUT
#18
#OUTPUT
#2
import math
n=int(input())
x=math.log2(n&-n)+1
print(round(x))

18
2

In [ ]:
#Given 3 numbers A,B,C print 'yes' if they can form the sides of a right angled triangle,otherwise 'no'.
#Input Size : A,B,C <= 100000
#Sample Testcase :
#INPUT
#3 4 5
#OUTPUT
#yes
n=list(map(int,input().split()))
x,y,z=sorted(n)
if x**2+y**2==z**2:
  print("yes")
else:
  print("no")

3 4 5
yes

In [ ]:
#Given 3 numbers A,B,C print 'yes' if they can form the sides of a scalene triangle else print 'no'.
#Input Size : A,B,C <= 100000
#Sample Testcase :
#INPUT
#3 4 5
#OUTPUT
#yes
a,b,c=list(map(int,input().split()))
if a>0 and b>0 and c>0:
    if a!=b and b!=c and a!=c:
        print("yes")
    else:
        print("no")

3 4 5
yes

In [ ]:
#Given two numbers N,K followed by an array of N elements, print the array after doing right shift K times (in cyclic manner).
#Input Size : 1 <= N, K <= 100000
#Sample Testcase :
#INPUT
#3 2
#7 2 3
#OUTPUT
#2 3 7
n,k=map(int,input().split())
arr=list(map(int,input().split()))
k=k%n
re=arr[-k:]+arr[:-k]
print(*re)

3 2
7 2 3
2 3 7

In [ ]:
#Assume you are john. John has one younger sister ‘jenny’. He wants to gift her some toys. He has a price list of toys and he has some amount on hand. Your task is to tell him how many toys john will be able to buy for her sister
#Input Description:
#First line contains two integer ‘n’ and ‘k’ ,n denotes the number of toys and k denotes total money he has.Next line contains n space separated integers denoting price of each toy
#Output Description:
#Print the max number of toys he can buy.
#Sample Input :
#7 50
#1 12 5 111 200 1000 10
#Sample Output :
#4
n,k=map(int,input().split())
arr=list(map(int,input().split()))
arr.sort()
sum=0
total_cost=0
for price in arr:
   if total_cost+price<=k:
    sum+=1
    total_cost+=price
print(sum)

1

1

In [ ]:
#Given numbers A,B find A^B.
#Input Size : 1 <= A <= 5 <= B <= 50
#Sample Testcase :
#INPUT
#3 4
#OUTPUT
#81
a,b=map(int,input().split())
c=a**b
print(c)

3 4
81

In [ ]:
#Given a number N and an array of N integers, find the sum of all the negative numbers in the array.
#Input Size : N <= 100000
#Sample Testcase :
#INPUT
#2
#3 0
#OUTPUT
#0
n=int(input())
arr=list(map(int,input().split()))
sum=0
for num in arr:
    if num<0:
      sum+=num
print(sum)

2
3 0
0

In [ ]:
#Given 2 numbers N and M add both the numbers and check whether the sum is odd or even.
#Sample Testcase :
#INPUT
#9 2
#OUTPUT
#odd
n,m=map(int,input().split())
tot=n+m
if tot%2==0:
  print("even")
else:
  print("odd")

9 2
odd

In [ ]:
#You are given a series 3, 20, 63, 144, 275… . Go through the series in order to find the answer.You are given with a number ‘n’. Find the nth number of series.
#Input Description:
#You are given a number ‘n’
#Output Description:
#Print the nth number of series.
#Sample Input :
#4
#Sample Output :
#144
n=int(input())
nth_term=2*(n*n*n)+n*n
print(nth_term)

4
144

In [ ]:
#you are given with ‘arasu’ series(shown in example).You have to understand it and you will be given a number ‘n’ ,you have to print the series till n numbers.
#Input Description:
#You are given a number n;
#Output Description:
#Print series till nth number
#Sample Input :
#4
#Sample Output :
#2 5 10 17
n=int(input())
x=[2]
y=3
for i in range(1,n):
  a=x[i-1]+y
  x.append(a)
  y+=2
print(*x)

4
2 5 10 17

In [ ]:
#Given 3 points check whether they lie on the same line.If they lie on the same line print 'yes' Otherwise print 'no'.
#Sample Testcase :
#INPUT
#0 1
#0 0
#0 2
#OUTPUT
#yes
x1,y1=list(map(int,input().split()))
x2,y2=list(map(int,input().split()))
x3,y3=list(map(int,input().split()))
a=x1*(y2-y3)+x2*(y3-y1)+x3*(y1-y2)
if (a==0):
  print("yes")
else:
  print("no")

0 1
0 0
0 2
yes

In [ ]:
#Prateek finds it difficult to judge the minimum element in the list of elements given to him. Your task is to develop the algorithm in order to find the minimum element.
#Input Description:
#You are given ‘n’ number of elements. Next line contains n space separated numbers.
#Output Description:
#Print the minimum element
#Sample Input :
#5
#3 4 9 1 6
#Sample Output :
#1
a=int(input())
b=list(map(int,input().split()))
print(min(b))

5
3 4 9 1 6
1

In [ ]:
#Given a string S.Validate if a given string is numeric.print 'yes' if it is a numeric otherwise print 'no'.
#Sample Testcase :
#INPUT
#guvigeeks
#OUTPUT
#no
s=input()
for char in s:
  if char.isnumeric():
    print("yes")
    break
else:
  print("no")

guvigeeks
no

In [ ]:
#Given number N, find the minimum factor which yeilds odd number as the quotient.
#Input Size : N <= 100000
#Sample Testcase :
#INPUT
#9
#OUTPUT
#1
n=int(input())
m=[]
for i in range(1,n+1):
  if n%i==0 and (n/i)%2!=0:
    m.append(i)
print(m[0])

9
1

In [ ]:
#Given 2 numbers N,K print the value of nPk(P-Permutation).
#Input Size : K <= N <= 10
#Sample Testcase :
#INPUT
#5 2
#OUTPUT
#20
n,k=list(map(int,input().split()))
f=1
for i in range(k):
  f*=(n-i)
print(f)

5 2
20

In [ ]:
#Given length L and breadth B of a farm, print the area of the farm upto 5 decimal decimals.
#Sample Testcase :
#INPUT
#1.626 2.31
#OUTPUT
#3.75606
l,b=map(float,input().split())
value=l*b
value_string = f"{value:.10f}"
integer, decimal = value_string.split(".")
truncated_decimal_part = decimal[:5]
print(f"{integer}.{truncated_decimal_part}")

1.626 2.31
3.75606

In [ ]:
#Given a number N and a number K, find the greatest number which divides both.
#Input Size : N and K <= 100000
#Sample Testcase :
#INPUT
#5 10
#OUTPUT
#5
n,k=list(map(int,input().split()))
z=k%n
if (z==0):
  print(n)
else:
  print(k)

5 10
5

In [ ]:
#Given a number N in binary format convert it to decimal number.
#Input Size : N <= 100000
#Sample Testcase :
#INPUT
#101
#OUTPUT
#5
binary=input()
decimal=int(binary,2)
print(decimal)

101
5

In [ ]:
#Given 2 numbers N and K.check if N is a power of K.Print 'yes' if it is a power of k otherwise print 'no'.
#Sample Testcase :
#INPUT
#64 8
#OUTPUT
#yes
n,k=map(int,input().split())
sqrt=n**0.5
if sqrt==k:
  print("yes")
else:
  print("no")

64 8
yes

In [ ]:
#Given an array of N elements switch(swap) the element with the adjacent element and print the output.
#Sample Testcase :
#INPUT
#5
#3 2 1 2 3
#OUTPUT
#2 3 2 1 3
n=int(input())
a=list(map(int,input().split()))
for i in range(0,n-1,2):
  a[i],a[i+1]=a[i+1],a[i]
print(*a)

5
3 2 1 2 3
2 3 2 1 3

In [ ]:
#Given 2 numbers N,K print the value of nCk(C-Combination).
#Input Size : K <= N <= 10
#Sample Testcase :
#INPUT
#5 2
#OUTPUT
#10
n,k=list(map(int,input().split()))
x=n*k
print(x)

5 2
10

In [ ]:
#Given 3 numbers A,B,C process and print 'yes' if they can form the sides of a triangle otherwise print 'no'.
#Input Size : A,B,C <= 100000
#Sample Testcase :
#INPUT
#3 4 5
#OUTPUT
#yes
a,b,c=list(map(int,input().split()))
s=(a+b+c)/2
if s*(s-a)*(s-b)*(s-c)**0.5:
    print("yes")
else:
    print("no")

3 4 5
yes