<a href="https://colab.research.google.com/github/vijipandian/project/blob/main/mathematics_1_to_40.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Assume your brother studies in class 2. He has to  complete his homework on co-primes. As an elder sibling help him in finding whether the given two numbers is co-prime or not.
#Input Description:
#You will be given two numbers ‘n’ and ‘m’
#Output Description:
#Your task is to tell whether numbers is co prime or not. If it is a co-prime print 1 else 0
#Sample Input :
#3 5
#Sample Output :
#1

n,m=map(int,input().split())
for i in range(n and m):
    if i%2==0:
        print(1)
        break;
    else:
       print(0)

3 5
1

In [2]:
#Given a number N, print yes if the number is a multiple of 7 else print no.
#Sample Testcase :
#INPUT
#49
#OUTPUT
#yes

n=int(input())
for i in range(1):
    if n%7==0:
       print("yes")
    else:
       print("no")

49
yes

In [3]:
#You are given a number ‘n’. You have to tell whether a number is great or not. A great number is a number whose sum of digits let (m) and product of digits let(j) when summed together gives the number back
#m+j=n
#Input Description:
#You are given a number n;
#Output Description:
#Print Great if a number is great else print the no
#Sample Input :
#59
#Sample Output :
#Great

n=int(input())
t=n
d=1
r=0
p=1
while(n>0):
     d=n%10
     r+=d
     n=n//10
     p=d*p
X=r+p
if X ==t:
    print('Great')
else:
    print('no')

59
Great

In [4]:
#Find the minimum among 10 numbers.
#Sample Testcase :
#INPUT
#5 4 3 2 1 7 6 10 8 9
#OUTPUT
#1
a=map(int,input().split())
print(min(a))

5 4 3 2 1 7 6 10 8 9
1

In [6]:
#You are given a set of numbers, out of which you have to tell which of them are finest. A finest number ‘n’ is a number which is formed by a number ‘t’ such that
#n=t^3+(t+1)^3
#t is a natural number
#Input Description:
#You are given a number ‘z’ representing total numbers in an array, Next line contains z space separated numbers.
#Output Description:
#Print the numbers which are finest in ascending order if there are no such numbers print -1.
#Sample Input :
#2
#1729 189
#Sample Output :
#189 1729

a=int(input())
arr=list(map(int,input().split()))
lst=[]
form=1
for i in arr:
    for j in range(1,100-1):
        form=j**3+(j+1)**3
        if i==form:
            lst.append(i)
lst.sort()
print(*lst)

2
1729 189
189 1729

In [7]:
#You are provided with a number ’n’. Your task is to tell whether that number is saturated. A saturated number is a number which is made by exactly two digits.
#Input Description:
#You are given with a number n.
#Output Description:
#Print Saturated if it is saturated else it is Unsaturated
#Sample Input :
#121
#Sample Output :
#Saturated

a=input()
b=list(set(a))
if (len(b)==2):
  print("Saturated")
else:
  print("Unsaturated")

121
Saturated

In [8]:
#Assume that you are ticket verifier at a club. Your club has decided to give a special discount to the person(s) who are satisfying the following condition
#Condition:-
#If ticket number is divisible by date of month. You are eligible for a discount.
#Input Description:
#First line contains input ‘n’.Next line contains n space separated numbers denoting ticket numbers .Next line contains ‘k’ date of the month.
#Output Description:
#Print 1 if the ticket is eligible for discount else 0
#Sample Input :
#6
#112 139 165 175 262 130
#22
#Sample Output :
#0 0 0 0 0 0

a=int(input())
arr=list(map(int,input().split()))
date=int(input())
arr1=[]
for i in range (a):
  if arr[i]%date==0 :
    arr1.append(1)
  else:
    arr1.append(0)
print(*arr1)

6
112 139 165 175 262 130
22
0 0 0 0 0 0

In [9]:
#Given a number N, print 'yes' if it is a multiple of 13 else print 'no'.
#Sample Testcase :
#INPUT
#26
#OUTPUT
#yes

n=int(input())
if n%13==0:
  print("yes")
else:
  print("no")

26
yes

In [10]:
#A person saves his monthly saving according to given schema. He saves same amount of money which is equal to the money saved in immediate previous two months. Assume, initially he saved 1000 rupees and in first month he saved another 1000. Your task is to tell how much he had totally saved at the end of ‘n’ months
#Input Description:
#You will be given a number ‘n’->No. of months
#Output Description:
#Print the total savings at the end of ‘n’ months
#Sample Input :
#1
#Sample Output :
#2000

a=int(input())
if a<=2:
  print(2000*a)
else:
  print((2000*a)+1000)

1
2000

In [11]:
#You are given a task to tell whether the number is pure or not. A pure number is a number whose sum of digits is multiple of 3.
#O(1) time and O(1) space
#Input Description:
#You are given a number n.
#Output Description:
#Print yes if it is pure else not
#Sample Input :
#13
#Sample Output :
#not

a=input()
r=0
for i in a:
    r += int(i)
if r %3 == 0:
    print('yes')
else:
    print('not')

13
not

In [12]:
#Given 3 numbers N , L and R. Print 'yes' if N is between L and R else print 'no'.
#Sample Testcase :
#INPUT
#3
#2 6
#OUTPUT
#yes

N=int(input())
L,R=map(int,input().split())
if (L<N and N<R):
  print("yes")
else:
  print("no")

3
2 6
yes

In [13]:
#You are given with a number ‘n’. You have to count the pair of two numbers a and b such that sum of two numbers are equal to n.
#Note:Both numbers lie in range 1<=a,b<n
#Input Description:
#You are given a number ‘n’
#Output Description:
#Print the number of pairs satisfying above condition
#Sample Input :
#5
#Sample Output :
#4
x=int(input())
count=0
for i in range(1,x):
  b=x-i
  if 1<=b<x:
    count+=1
print(count)

5
4

In [14]:
#Count the number of digits of a given number N.Size of the integer ranges from 1Sample Testcases :
#INPUT
#548
#OUTPUT
#3

n=input()
print(len(str(n)))

548
3

In [15]:
#Given 2 numbers N,M. Find their difference and check whether it is even or odd.
#Sample Testcase :
#INPUT
#5 5
#OUTPUT
#even

n,m=map(int,input().split())
difference=abs(n-m)
if difference%2==0:
  print("even")
else:
  print('odd')

5 5
even

In [16]:
#In XYZ country there is rule that car’s engine no. depends upon car’ number plate. Engine no is sum of all the integers present on car’s Number plate.The issuing authority has hired you in order to provide engine no. to the cars.Your task is to develop an algorithm which takes input as in form of string(Number plate) and gives back
#Engine number.
#Input Description:
#You are given a string ’s’
#Output Description:
#Print the engine number
#Sample Input :
#HR05-AA-2669
#Sample Output :
#28

platenum=input()
numbers="1234567890"
sum=0
for i in platenum:
  if i in numbers:
    sum+=int(i)
print(sum)

HR05-AA-2669
28

In [17]:
#Given a number N, print the odd digits in the number(space seperated) or print -1 if there is no odd digit in the given number.
#Input Size : N <= 100000
#Sample Testcase :
#INPUT
#2143
#OUTPUT
#1 3

num=input()
odd_digits=[]

for digit in num:
    if int(digit)%2!=0:
        odd_digits.append(digit)
if odd_digits:
    print(" ".join(odd_digits))
else:
    print(-1)

2143
1 3

In [18]:
#Given a number N, print the product of the digits.
#Input Size : N <= 100000000000
#Sample Testcase :
#INPUT
#2143
#OUTPUT
#24

n=input()
product=1
for digit in n:
  product*=int(digit)
print(product)

2143
24

In [20]:
#Given a number N, find its next immediate greater power of 2(i.e 2^1, 2^2, 2^3...).
#Input Size : N <= 1000
#Sample Testcase :
#INPUT
#4
#OUTPUT
#8
import math
n=int(input())
x=2**math.ceil(math.log2(n+1))
print(x)

4
8

In [21]:
#Sreelatha was confused with series. She is given with a number ‘n’. There is a pattern hidden the series. She has to understand and print  the series till nth number by looking into example.Sreelatha is confused and She hired you , you have to develop the series for sreelatha by observing the pattern from the below example.
#Input Description:
#She is given with a number ‘n’.
#Output Description:
#print  the series till nth number
#Sample Input :
#3
#Sample Output :
#1 9 36
n=int(input())
x=[0]
for i in range(1,n+1):
  s=x[-1]+i**3
  x.append(s)
print(*x[1:])

3
1 9 36

In [22]:
#Write a program to print the sum of the first K natural numbers.
#Input Size : n <= 100000
#Sample Testcase :
#INPUT
#3
#OUTPUT
#6
k=int(input())
if k<0:
  print("pasitive numbers.")
else:
    val=0
    while(k>0):
      val=val+k
      k=k-1
print(val)

3
6

In [23]:
#Given a number N, find the nearest greater multiple of 10.
#Input Size : N <= 10000
#Sample Testcase :
#INPUT
#3
#OUTPUT
#10
n=int(input())
a=(n//10)*10

b=a+10
print(b)

3
10

In [24]:
#Ajay is given a series(In example).he gone through the series but unable to understand it properly,he has hired you.Your task is to understand the series and print the series 2,6,12,20,30... .You are given with a number ‘n’. Find the nth number of series.
#Input Description:
#You are given a number ‘n’.
#Output Description:
#Print the nth number of series
#Sample Input :
#5
#Sample Output :
#30
n=int(input())

for i in range(1,n+1):
  a=i*(i+1)
print(a)

5
30

In [25]:
#Given 3 numbers a,b,c print a*b mod c.
#Sample Testcase :
#INPUT
#5 3 2
#OUTPUT
#1
a,b,c=list(map(int,input().split()))
x=(a*b)%c
print(x)

5 3 2
1

In [26]:
#You are given given task is to print whether array is ‘majestic’ or not.A ‘majsetic’ array is an array whose sum of first three number is equal to last three number.
#Input Description:
#You are given a number ‘n’,Next line contains ‘n’ space separated
#Output Description:
#Print 1 if array is majestic and 0 if it is not
#Sample Input :
#7
#1 2 3 4 6 0 0
#Sample Output :
#1
n=int(input())
s=list(map(int,input().split()))
if(s[0]+s[1]+s[2]==s[-3]+s[-2]+s[-1]):
  print("1")
else:
  print("0")

7
1 2 3 4 6 0 0
1

In [27]:
#Pk finds it difficult to judge the minimum element in the list of elements given to him. Your task is to develop the algorithm in order to find the minimum element.
#Note:Don’t use sorting
#Input Description:
#You are given ‘n’ number of elements. Next line contains n space separated numbers.
#Output Description:
#Print the minimum element
#Sample Input :
#5
#3 4 9 1 6
#Sample Output :
#1

s=int(input())
n=list(map(int,input().split()))
print(min(n))

5
3 4 9 1 6
1

In [28]:
#Given a number N, print 'yes' if it is composite else print 'no'.
#Sample Testcase :
#INPUT
#123
#OUTPUT
#yes
n=int(input())
count=0
for i in range(1,n):
  if n%i==0:
     count+=1
if count>2:
  print("yes")
else:
  print("no")

123
yes

In [29]:
#You are given with a string which comprises of some numbers. Your task is to find the largest integer by converting the string to the corresponding integer.
#Input Description:
#First line contains n denoting number of Test Cases. The first and only Line of testcase has the string
#Output Description:
#Print the largest number
#Sample Input :
 #I was born on 12 october 1998.
#Sample Output :
#1998
a=input()
b=a.replace("."," ")
c=[]
for i in b.split():
  if i.isnumeric():
    c.append(int(i))

print(max(c))

I was born on 12 october 1998
1998

In [30]:
#Write a program to calculate the total surface area and volume of cuboid. Input contains three space separated positive integers L, B, H denoting the length, width and height of cuboid respectively.
#Sample Testcase :
#INPUT
#1 2 3
#OUTPUT
#22 6

l,b,h=list(map(int,input().split()))
area=(l*b+b*h+h*l)
x=2*area
vol=l*b*h
print(x,vol)

1 2 3
22 6

In [31]:
#Given 2 numbers N,M. Print 'yes' if their product is a perfect square else print 'no'.
#Sample Testcase :
#INPUT
#5 5
#OUTPUT
#yes
n,m=map(int,input().split())
x=n*m
if x**0.5==n:
   print("yes")
else:
   print("no")

5 5
yes

In [32]:
#Given a number N, print its reverse.
#Input Size : n <= 1000
#Sample Testcase :
#INPUT
#10
#OUTPUT
#1
n=int(input())
rev=0
while(n>0):
  a=n%10
  rev=rev*10+a
  n=n//10
print(rev)

10
1

In [33]:
#Given the values of a,b and x in the equation ax + b = y. Find the value of y.
#Sample Testcase :
#INPUT
#3 5 2
#OUTPUT
#11
a,b,x=list(map(int,input().split()))
y=a*x+b
print(y)

3 5 2
11